# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/trained/*
!models/trained/.gitkeep

# Report figures
reports/figures/*
!reports/figures/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/